section,
header {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: xx-large;
}

section > div:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

section > div:last-child,
p {
	background-color: #5c48d3;
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.block {
	display: block;
}
.none {
	display: none;
}


button {
	background-color: #5c48d3;
	color: white;
	border: none;
	border-radius: 5px;
	line-height: 40px;
	font-size: 30px;
	margin-top: 20px;
}

.layout {
	display: flex;
	justify-content: center;
	height: 100vh;
}

h1{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
